.appright {
  margin-top: 1rem;
  padding: 2rem;
}
.appright__dark {
  background-color: #333333;
}
.appright__light {
  background-color: white;
}
.appright__heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.appright__heading-dark {
  color: #fff;
}

.appright__heading-light {
  color: #6a5d5d;
}

.appright_linegraph-title-dark {
  color: #fff;
}

.appright_linegraph-title-light {
  color: #6a5d5d;
}
