.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  overflow-y: scroll;
}
.table__dark {
  background-color: #333333;
  color: white;
}
.table__dark > tr:nth-of-type(odd) {
  background-color: #8f8888;
}
.table__light {
  color: #6a5d5d;
  background-color: white;
}
.table__light > tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

@media (min-width: 990px) {
  .table {
    overflow-x: auto;
  }
}
